<%= form_for(@membership) do |f| %>
  <%= render "partials/error_messages", :target => @membership %>
  <div class="field">
    <%= f.label :pedigree_id %><br />
    <%= f.collection_select(:pedigree_id, Pedigree.order(:name), :id, :name, { :prompt => "-Select Pedigree"}, :selected => @membership.pedigree_id) %>
  </div>
  <div class="field">
    <%= f.label :person_id %><br />
    <%= f.collection_select(:person_id, Person.all, :id, :full_identifier, { :prompt => "-Select Person"}, :selected => @membership.person_id) %>
  </div>
  <div class="field">
    <%= f.label :draw_duplicate %><br />
    <%= f.check_box :draw_duplicate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
