<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @membership.id %>
</p>

<p>
  <b>Pedigree:</b>
  <%= @membership.pedigree.name %>
</p>

<p>
  <b>Person:</b>
  <%= @membership.person.identifier %>
</p>

<p>
  <b>Draw duplicate:</b>
  <%= @membership.draw_duplicate %>
</p>


<%= link_to 'Edit', edit_membership_path(@membership) %> |
<%= link_to 'Delete this membership', @membership, :confirm => "Are you sure?", :method => :delete %> | 
<%= link_to 'Back', memberships_path %><br />
<%= link_to 'Back to Pedigree', pedigree_path(@membership.pedigree) %>
<%= link_to 'Back to Person', person_path(@membership.person) %>
