<%= form_for(@sample) do |f| %>
  <%= render "partials/error_messages", :target => @sample %>

  <% sel_person = params[:person_id] || nil %>
  <% if sel_person.nil? and @sample.person then sel_person = @sample.person.id end %>
  <% person = sel_person.nil? ? nil : Person.find(sel_person)  %>
  <% pedigree_id = person.nil? ? nil : person.pedigree_id %>
  <div class="field">
    <%= f.label :pedigree %><br />
    <%= collection_select(:pedigree, :id, Pedigree.order("pedigrees.tag"), :id, :name, options = { :selected => pedigree_id, :include_blank => "-Select the pedigree this sample belongs to" }) %>
  </div>
  <script>

    $("#pedigree_id").change(function() {
      var url = '/people/get_drop_down_people_by_pedigree';
      var request = $.ajax({
        data: { 'pedigree_id' : $(this).val() },
	dataType: 'json',
      	type: 'GET',
	url: url
	});
      request.complete(
      );

      request.done( function(responseData) {
          $("#person_id").children().remove();
	  if ($.isEmptyObject(responseData)) {
	    $("#person_id").append('<option value="">-No People in this pedigree. Select Pedigree</option>');
	  } else {
	    $("#person_id").append('<option value="">-Select Person</option>');
	    for (var key in responseData) {
	      $("#person_id").append($('<option>', {
	        value : key,
  	        text : responseData[key]
	      }));
	    }
	  }
	  <% if !sel_person.nil? %>
	    $("#person_id").val(<%= sel_person %>);
	  <% end %>
        });
      request.fail(function(jqXHR, textStatus) {
        alert("Request failed: "+textStatus);
      });
    }
    ).trigger('change');

  </script>
  <div class="field">
    <%= f.label :person %><br />
    <%= select("person", "id", ["-Select Pedigree"]) %>
  </div>
  <div class="field">
    <%= f.label :customer_sample_id %> - The Sample ID if it is different than Subject ID.<br/> 
    <%= f.text_field :customer_sample_id %>
  </div>
  <div class="field">
    <%= f.label :sample_type_id %><br />
    <%= collection_select(:sample_type, :id, SampleType.all, :id, :name, {:prompt => "Select a Type for this sample", :selected => @sample.sample_type_id || ''}) %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.collection_select(:status, ["pending", "submitted", "sequenced", "failed qc"], :downcase, :titleize, { :include_blank => "-Select Sample Status", :selected => @sample.status || '' }) %>
  </div>
  <div class="field">
    Vendor Sample ID (ex: GS0001-DNA_A01 or SS6002729) <br />
    <%= f.text_field :sample_vendor_id %>
  </div>
  <div class="field">
    <%= f.label :volume %><br />
    <%= f.text_field :volume %>
  </div>
  <div class="field">
    <%= f.label :concentration %><br />
    <%= f.text_field :concentration%>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :date_submitted %><br />
    <%= f.date_select :date_submitted %>
    <%= check_box("check_dates", "add_date_submitted") %>
    Update date submitted?
  </div>
  <div class="field">
    <%= f.label :protocol %><br />
    <%= f.text_field :protocol %>
  </div>
  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_field :comments %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
