<%= form_for(@sample) do |f| %>
  <%= render "partials/error_messages", :target => @sample %>

  <div class="field">
    <%= f.label :person %><br />
    <% sel_person = params[:person_id] %>
    <% if sel_person.nil? and @sample.person then sel_person = @sample.person.id end %>
    <% if sel_person.nil? then sel_person = '' end %>
    <%= collection_select(:person, :id, Person.all, :id, :full_identifier, options = {:selected => sel_person, :include_blank => "-Select the person this sample belongs to"}) %>
  </div>
  <div class="field">
    <%= f.label :customer_sample_id %> - The Sample ID if it is different than Subject ID.<br/> 
    <%= f.text_field :customer_sample_id %>
  </div>
  <div class="field">
    <%= f.label :sample_type_id %><br />
    <%= collection_select(:sample_type, :id, SampleType.all, :id, :name, {:prompt => "Select a Type for this sample", :selected => @sample.sample_type_id || ''}) %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.collection_select(:status, ["pending", "submitted", "sequenced"], :downcase, :titleize, { :include_blank => "-Select Sample Status", :selected => @sample.status || '' }) %>
  </div>
  <div class="field">
    Vendor Sample ID (ex: GS0001-DNA_A01 or SS6002729) <br />
    <%= f.text_field :sample_vendor_id %>
  </div>
  <div class="field">
    <%= f.label :volume %><br />
    <%= f.text_field :volume %>
  </div>
  <div class="field">
    <%= f.label :concentration %><br />
    <%= f.text_field :concentration%>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :date_submitted %><br />
    <%= f.date_select :date_submitted %>
    <%= check_box("check_dates", "add_date_submitted") %>
    Update date submitted?
  </div>
  <div class="field">
    <%= f.label :protocol %><br />
    <%= f.text_field :protocol %>
  </div>
  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_field :comments %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
