<%= form_for(@sample) do |f| %>
  <% if @sample.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sample.errors.count, "error") %> prohibited this sample from being saved:</h2>

      <ul>
      <% @sample.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :person %><br />
    <%= collection_select(:person, :id, Person.all, :id, :full_identifier, options = {:selected => params[:person_id]}) %>
  </div>
  <div class="field">
    <%= f.label :sample_type_id %><br />
    <%= collection_select(:sample_type, :id, SampleType.all, :id, :name, {:prompt => "Select a sample type for this person"}) %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= select_tag(:status, "<option>pending</option><option>submitted</option>".html_safe) %>
  </div>
  <div class="field">
    Vendor Sample ID (ex: GS0001-DNA_A01 or SS6002729) <br />
    <%= f.text_field :vendor_id %>
  </div>
  <div class="field">
    <%= f.label :volume %><br />
    <%= f.text_field :volume %>
  </div>
  <div class="field">
    <%= f.label :concentration %><br />
    <%= f.text_field :concentration%>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :date_submitted %><br />
    <%= f.date_select :date_submitted %>
    <%= check_box("check_dates", "add_date_submitted") %>
    Update date submitted?
  </div>
  <div class="field">
    <%= f.label :protocol %><br />
    <%= f.text_field :protocol %>
  </div>
  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_field :comments %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
