<% if @samples.size > 0 %>
<table class="tablesorter">
  <thead>
  <tr>
    <th class="{sorter: 'digit'}">ISB sample</th>
    <th>Customer Sample ID</th>
    <th>ISB Person</th>
    <th>Person</th>
    <th>Pedigree</th>
    <th>Vendor ID</th>
    <th>Sample type</th>
    <th>Status</th>
    <th>Volume</th>
    <th>Concentration</th>
    <th>Quantity</th>
  </tr>
  </thead>
  <tbody>
<% @samples.each do |sample| %>
  <tr>
    <td><%= link_to sample.isb_sample_id, sample, :id => sample.id %></td>
    <td><%= sample.customer_sample_id %></td>
    <% if sample.person.nil? then %>
    <td colspan="3">No person information for this sample</td>
    <% else %>
    <td><%= sample.person.isb_person_id %></td>
    <td><%= sample.person.collaborator_id %></td>
    <td><%= sample.person.pedigree.name if sample.person.pedigree %></td>
    <% end %>
    <td><%= sample.sample_vendor_id if sample.sample_vendor_id %></td>
    <td><%= sample.sample_type.nil? ? 'unknown' : sample.sample_type.name  %></td>
    <td><%= sample.status %></td>
    <td><%= sample.volume %></td>
    <td><%= sample.concentration %></td>
    <td><%= sample.quantity %></td>
  </tr>
<% end %>
</tbody>
</table>

<%= will_paginate @samples %>
<% else %>
<table class="tablesorter">
  <tr><td>No samples found for this query</td></tr>
</table>
<% end %>

