<% if @samples.size > 0 %>
<table class="tablesorter">
  <thead>
  <tr>
    <th class="{sorter: 'digit'}">Name</th>
    <th>ISB ID</th>
    <th>Customer Sample ID</th>
    <th>Person&nbsp;&nbsp;&nbsp;</th>
    <th>Pedigree&nbsp;&nbsp;&nbsp;</th>
    <th>Sample&nbsp; type&nbsp;</th>
    <th>Status&nbsp;&nbsp;&nbsp;</th>
    <th>Volume&nbsp;&nbsp;&nbsp;</th>
    <th>Concentration&nbsp;&nbsp;&nbsp;</th>
    <th>Quantity&nbsp;&nbsp;&nbsp;</th>
    <th colspan="3" class="nosort">Controls&nbsp;&nbsp;&nbsp;</th>
  </tr>
  </thead>
  <tbody>
<% @samples.each do |sample| %>
  <tr>
    <td><%= link_to sample.sample_vendor_id,sample if sample.sample_vendor_id %></td>
    <td><%= link_to sample.isb_sample_id, sample, :id => sample.id %></td>
    <td><%= sample.customer_sample_id %></td>
    <% if sample.person.nil? then %>
    <td colspan="3">No person information.  Add <%= link_to('a link', :controller => "acquisitions", :action => "new", :sample_id => sample.id) %> </td>
    <% else %>
    <% if sample.person.collaborator_id.nil? then %>
    <td colspan="1"><%= link_to sample.person.isb_perons_id, sample.person  %>
    <%else%>
    <td colspan="1"><%= link_to sample.person.collaborator_id, sample.person  %>
    <%end%>
    <td><%= link_to(sample.person.pedigree.name, sample.person.pedigree.name )if sample.person.pedigree %></td>
    <% end %>
    <td><%= sample.sample_type.nil? ? 'unknown' : sample.sample_type.name  %></td>
    <td><%= sample.status %></td>
    <td><%= sample.volume %></td>
    <td style="width:150"><%= sample.concentration %></td>
    <td><%= sample.quantity %></td>
    <td><%= link_to 'Edit', edit_sample_path(sample) %></td>
      <% if false  %><td><%= link_to 'Delete sample', sample, :confirm => 'Are you sure?', :method => :delete %></td><% end %>

  </tr>
<% end %>
</tbody>
</table>

<%= will_paginate @samples %>
<% else %>
<table class="tablesorter">
  <tr><td>No samples found for this query</td></tr>
</table>
<% end %>

