<td id="notice"><%= notice %></p>

<h1>Sample Information</h1>
<table class="tablesorter">
  <tr>
  <td>
    <b>ISB sample:</b>
    <%= @sample.isb_sample_id %>
 </td>
 <td >
   <b>Vendor ID:</b>
   <%= @sample.sample_vendor_id %>
 </td>
 <td colspan="2">
   <b>Customer ID:</b>
   <%= @sample.customer_sample_id %>
 </td>
 </tr>
 <tr>
 <% if @sample.person.nil? then %>
 <td>&nbsp</td>
 <span style="font-weight: bold; color: red;">No person information for this sample</span>
 <% else %>
  <td >
      <b>Person:</b>
      <% if @sample.person.collaborator_id.nil? then %>
      <%= link_to @sample.person.isb_person_id, @sample.person  %>
      <%else%>
      <%= link_to @sample.person.collaborator_id, @sample.person  %>
      (<%= link_to @sample.person.isb_person_id, @sample.person  %>)
<%end%>
<td>
  <b>Pedigree:</b>
  <%= link_to @sample.person.pedigree.name, pedigree_path(@sample.person.pedigree) %>
</td>
<td >
  <b>Status:</b>
  <% rr = Hash.new; rr[:pedigree_filter] = Hash.new; rr[:pedigree_filter][:id] = @sample.person.pedigree.id %>
  <%= link_to @sample.status, receiving_report_people_path(rr) %>
</td>
<% end %>
<td>
  <b>Date submitted:</b>
  <%= @sample.date_submitted %>
</td>
</tr>
<tr>
<td>
  <b>Sample type:</b>
  <%= @sample.sample_type.nil? ? 'unknown' : @sample.sample_type.name %>
</td>
  <td>
    <b>Volume:</b>
    <%= @sample.volume %>
  </td>
  <td>
    <b>Concentration:</b>
    <%= @sample.concentration %>
  </td>
  <td>
    <b>Quantity:</b>
    <%= @sample.quantity %>
  </td>
</tr>
<tr>
<td colspan="4">
  <b>Protocol:</b>
  <%= @sample.protocol %>
</td>
</tr>
<tr>
<td colspan="4">
  <b>Comments:</b>
  <%= @sample.comments %>
</td>
</tr>
</table>

<%= link_to 'Edit', edit_sample_path(@sample) %> |
<%= link_to 'Delete this sample', @sample, :confirm => 'Are you sure?', :method => :delete %> |
<%= link_to 'Back to all samples', samples_path %> |
<% if !@sample.person.nil? %>
<%= link_to("Back to Person #{@sample.person.identifier}", person_path(@sample.person)) %> |
<%= link_to( "Back to Pedigree #{@sample.person.pedigree.name}", pedigree_path(@sample.person.pedigree.id) )%>
<% end %>
<h1>Listing assays</h1>
<% if @sample.assays.size > 0 %>
<script>
  $(document).ready(function() { setupTablesorter() });
</script>
<table class="tablesorter">
  <thead>
  <tr>
    <th>Name</th>
    <th>ID</th>
    <th>Sample</th>
    <th>Customer Sample ID</th>
    <th>ISB Sample ID</th>
    <th>ISB Person ID&nbsp;&nbsp;&nbsp;</th>
    <th>Collaborator ID&nbsp;&nbsp;&nbsp;</th>
    <th>Pedigree</th>
    <th>Assay type</th>
    <th>Technology&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
  <% @sample.assays.each do |assay| %>
  <tr>
    <td><%= link_to assay.name, assay %></td>
    <td><%= link_to "isb_asy_"+assay.id.to_s, assay %></td>
    <td><%= assay.sample.sample_vendor_id %></td>
    <td><%= assay.sample.customer_sample_id %></td>
    <td><%= assay.sample.isb_sample_id %></td>
    <% if assay.sample.person.nil? then %>
    <td colspan="3">No Person information for this sample</td>
    <% else %>
    <td><%= assay.sample.person.isb_person_id %></td>
    <td><%= assay.sample.person.collaborator_id %></td>
    <td><%= assay.sample.person.pedigree.name %></td>
    <% end %>
    <td><%= assay.assay_type %></td>
    <td><%= assay.technology %></td>
    <td><%= assay.status %></td>
  </tr>
<% end %>
</tbody>
</table>
<% else %>
<p>No assays for this sample</p>
<% end %>
<%= link_to 'Add new assay', new_assay_path(:sample_id => @sample) %>

<br/>

<h1>Listing assemblies</h1>
<% if @sample.assays.size > 0 %>
<script>
  $(document).ready(function() { setupTablesorter() });
</script>
<table class="tablesorter">
  <thead>
  <tr>
    <th>Name</th>
    <th>ID</th>
    <th>Assay</th>
    <th>Sample</th>
    <th>Customer Sample</th>
    <th>Genome reference&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th>Assembler version</th>
    <th>Date Recieved</th>
    <th>Current</th>
  </tr>
  </thead>
  <tbody>
  <% @sample.assays.each do |assay| %>
  <% assay.assemblies.each do |assembly| %>
  <tr>
    <td><%= link_to assembly.name, assembly %></td>
    <td><%= link_to "isb_asm_"+assembly.id.to_s, assembly %></td>
    <td><%= link_to assay.name, assay %></td>
    <td><%= assay.sample.sample_vendor_id %></td>
    <td><%= assay.sample.customer_sample_id %></td>
    <td><%= assembly.genome_reference.name %></td>
    <td><%= assembly.software_version %> </td>
    <td><%= assembly.file_date %> </td>
    <td><%= assembly.current %> </td>
  </tr>
<% end %>
<% end %>
</tbody>
</table>
<% else %>
<p>No assemblies for this sample</p>
<% end %>
<%= link_to 'Add new assembly', new_assembly_path(:sample_id => @sample) %>
