<td id="notice"><%= notice %></p>

<h1>Sample Information</h1>
<table class="tablesorter">
  <tr>
  <td>
    <b>ISB sample:</b>
    <%= @sample.isb_sample_id %>
 </td>
 <td >
   <b>Vendor ID:</b>
   <%= @sample.vendor_id %>
 </td>
 <td>
   <b>Person:</b>
   <%= @sample.person.collaborator_id %>
 </td>
 <td>
   <b>ISB Person:</b>
   <%= link_to @sample.person.isb_person_id, person_path(@sample.person) %>
 </td>
</tr>
<tr>
<td>
  <b>Pedigree:</b>
  <%= link_to @sample.person.pedigree.name, pedigree_path(@sample.person.pedigree) %>
</td>
<td colspan="2">
  <b>Status:</b>
  <% rr = Hash.new; rr[:pedigree_filter] = Hash.new; rr[:pedigree_filter][:id] = @sample.person.pedigree.id %>
  <%= link_to @sample.status, receiving_report_path(rr) %>
</td>

<td>
  <b>Date submitted:</b>
  <%= @sample.date_submitted %>
</td>
</tr>
<tr>
<td>
  <b>Sample type:</b>
  <%= @sample.sample_type.nil? ? 'unknown' : @sample.sample_type.name %>
</td>
  <td>
    <b>Volume:</b>
    <%= @sample.volume %>
  </td>
  <td>
    <b>Concentration:</b>
    <%= @sample.concentration %>
  </td>
  <td>
    <b>Quantity:</b>
    <%= @sample.quantity %>
  </td>
</tr>
<tr>
<td colspan="4">
  <b>Protocol:</b>
  <%= @sample.protocol %>
</td>
</tr>
<tr>
<td colspan="4">
  <b>Comments:</b>
  <%= @sample.comments %>
</td>
</tr>
</table>

<%= link_to 'Edit', edit_sample_path(@sample) %> |
<%= link_to 'Delete this sample', @sample, :confirm => 'Are you sure?', :method => :delete %> |
<%= link_to 'Back to all samples', samples_path %> |
<%= link_to("Back to Person #{@sample.person.identifier}", person_path(@sample.person)) %> |
<%= link_to( "Back to Pedigree #{@sample.person.pedigree.name}", pedigree_path(@sample.person.pedigree.id) )%>

<h1>Listing assays</h1>
<% if @sample.assays.size > 0 %>
<script>
  $(document).ready(function() { setupTablesorter() });
</script>
<table class="tablesorter">
  <thead>
  <tr>
    <th>Name</th>
    <th>Sample</th>
    <th>ISB Sample ID</th>
    <th>ISB Person ID&nbsp;&nbsp;&nbsp;</th>
    <th>Collaborator ID&nbsp;&nbsp;&nbsp;</th>
    <th>Pedigree</th>
    <th>Assay type</th>
    <th>Technology&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
  <% @sample.assays.each do |assay| %>
  <tr>
    <td><%= link_to assay.name, assay %></td>
    <td><%= assay.sample.vendor_id %></td>
    <td><nobr><%= assay.sample.isb_sample_id %></nobr></td>
    <td><nobr><%= assay.sample.person.isb_person_id %></nobr></td>
    <td><%= assay.sample.person.collaborator_id %></td>
    <td><%= assay.sample.person.pedigree.name %></td>
    <td><%= assay.assay_type %></td>
    <td><%= assay.technology %></td>
    <td><%= assay.status %></td>
  </tr>
<% end %>
</tbody>
</table>
<% else %>
<p>No assays for this sample</p>
<% end %>
