<%= form_for(@phenotype) do |f| %>
  <%= render "partials/error_messages", :target => @phenotype %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :condition_id %><br />
    <%= f.collection_select(:condition_id, Condition.order(:name), :id, :name, { :include_blank => "-Select Condition or leave blank" }) %>
  </div>
  <div>If condition is not in this list, then <%= link_to "create a new condition", new_condition_path %></div>
  <div class="field">
    <%= f.label :tag %><br />
    <%= f.text_field :tag %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
