<%= form_for(@phenotype) do |f| %>
  <%= render "partials/error_messages", :target => @phenotype %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :disease_id %><br />
    <%= f.collection_select(:disease_id, Disease.all, :id, :name, { :include_blank => "-Select Disease or leave blank" }) %>
  </div>
  <div>If disease is not in this list, then <%= link_to "create a new disease", new_disease_path %></div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
