<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @phenotype.id %>
</p>

<p>
  <b>Diseases:</b>
  <%= @phenotype.diseases_id %>
</p>

<p>
  <b>Name:</b>
  <%= @phenotype.name %>
</p>

<p>
  <b>Description:</b>
  <%= @phenotype.description %>
</p>


<%= link_to 'Edit', edit_phenotype_path(@phenotype) %> |
<%= link_to 'Back', phenotypes_path %>
