<p id="notice"><%= notice %></p>

<p>
  <b>Condition:</b>
  <%= @phenotype.condition.name if @phenotype.condition %>
</p>

<p>
  <b>Name:</b>
  <%= @phenotype.name %>
</p>

<p>
  <b>Tag:</b>
  <%= @phenotype.tag %>
</p>

<p>
  <b>Description:</b>
  <%= @phenotype.description %>
</p>


<%= link_to 'Edit', edit_phenotype_path(@phenotype) %> |
<%= link_to 'Back', phenotypes_path %><br />

