<%= form_with model: @person_alias do |f| %>
  <%= render "partials/error_messages", :target => @person_alias %>

  <div class="field">
    <%= f.label :person_id %><br />
    <%= f.collection_select(:person_id, Person.all, :id, :full_identifier, { :include_blank => "-Select Person", :selected => params[:person_id]}) %>
  </div>
  <div class="field">
    <%= f.label :alias_type %><br />
    <%= f.collection_select(:alias_type, ["collaborator_id"], :downcase, :titleize, { :include_blank => "-Select Alias Type"}) %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<% if params[:person_id] %>
<%= link_to "Back to Person", person_path(params[:person_id]) %>
<% end %>
