<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @person_alias.id %>
</p>

<p>
  <b>Name:</b>
  <%= @person_alias.name %>
</p>

<p>
  <b>Value:</b>
  <%= @person_alias.value %>
</p>

<p>
  <b>Person:</b>
  <%= @person_alias.person_id %>
</p>


<%= link_to 'Edit', edit_person_alias_path(@person_alias) %> |
<%= link_to 'Back', person_aliases_path %>
