

<%= form_for(@person) do |f| %>
  <%= render "partials/error_messages", :target => @person %>

  <% if params[:pedigree_id] then %>
  <% cur_pedigree_id = params[:pedigree_id] %>
  <% else %>
  <% cur_pedigree_id = @person.pedigree.id if @person.pedigree%>
  <% end %>

  <div class="field">
    <%= f.label :pedigree_name %><br />
    <%= collection_select(:pedigree, :id, Pedigree.all(:include=> :study, :order => ['studies.name', 'pedigrees.name']), :id, :name, options = {:include_blank => '-Select the pedigree this person belongs to', :selected => cur_pedigree_id}, :class => "pedigree_select") %>
  </div>
  <div class="field">
    <span>Collaborator ID</span><br />
    <%= f.text_field :collaborator_id %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.collection_select(:gender, ["male","female","unknown"], :downcase, :titleize, {  :include_blank => "-Select gender", :selected => @person.gender }) %>
  </div>
  <div class="field">
    <%= f.check_box(:planning_on_sequencing, :value => 1, :checked => @person.planning_on_sequencing) %>
    <%= f.label :planning_on_sequencing %><br />
  </div>
  <div class="field">
    <%= f.check_box(:deceased, :value => 0, :checked => @person.deceased) %>
    <%= f.label :deceased %><br />
  </div>
  <div class="field">
    <%= f.label :dob %><br />
    <%= f.date_select :dob %>
    <%= check_box("check_dates", "add_dob") %>
      Add Date of Birth?
  </div>
  <div class="field">
    <%= f.label :dod %><br />
    <%= f.date_select :dod %>
    <%= check_box("check_dates", "add_dod") %>
      Add Date of Death?
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
