<script>
  $(document).ready(function() { setupTablesorter() });
</script>
<h1>Receiving Log for <%= @pedigree.kind_of?(Array) ? 'all pedigrees' : @pedigree.name %></h1>
<%= render "partials/receiving_log_filter" %>
<table class="tablesorter">
  <thead>
  <tr>
    <th>Status</th>
    <th>Sample</th>
    <th>ISB Sample ID</th>
    <th>ISB Person ID&nbsp;&nbsp;&nbsp;</th>
    <th>Collaborator ID&nbsp;&nbsp;&nbsp;</th>
    <th>Pedigree</th>
    <th>Vendor&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th>Status</th>
    <th>Date Submitted</th>
    <th>Date Received</th>
    <th>Date Transferred</th>
    <th>Dated Backup</th>
    <th>QC Pass Date</th>
  </tr>
  </thead>
  <tbody>
<% @people.each do |person| %>
  <% if person.samples.size == 0 then %>
        <tr>
          <td style="background-color: red">&nbsp;</td>
          <td>No sample information</td>
          <td>NA</td>
          <td><%= link_to person.isb_person_id, person %></td>
          <td><%= person.full_collaborator %></td>
	  <td><%= link_to person.pedigree.name, person.pedigree unless person.pedigree.nil? %></td>
          <td>NA</td>
          <td>NA</td>
          <td>NA</td>
          <td>NA</td>
          <td>NA</td>
          <td>NA</td>
          <td>NA</td>
        </tr>
  <% else %>
    <% person.samples.each do |sample| %>
      <% if sample.assays.size == 0 then %>
           <tr>
            <td style="background-color:
	      <% if sample.status == 'sequenced' %>red"><span style="color: red;">F</span><%
	         elsif sample.status == 'submitted' %>yellow"><span style="color: yellow;">I</span><%
		 elsif sample.status == 'pending' %>#CC6600"><span style="color: #CC6600;">P</span><%
		 elsif sample.status == 'passed qc' %>#CC6600"><span style="color: #CC6600;">P</span><%
		 elsif sample.status == 'failed qc' %>red"> <span style="color: red;">F</span><%
	         elsif sample.status.nil? %>red<%
	         end %>&nbsp;</td>
            <td><%= sample.sample_vendor_id %></td>
            <td><%= link_to sample.isb_sample_id, sample_path(sample) %></td>
            <td><%= link_to person.isb_person_id, person_path(person) %></td>
            <td><%= person.full_collaborator %></td>
	    <td><%= link_to person.pedigree.name, person.pedigree %></td>
            <td>NA</td>
            <td><%= sample.status %></td>
            <td><%= sample.date_submitted %></td>
            <td>NA</td>
            <td>NA</td>
            <td>NA</td>
            <td>NA</td>
          </tr>

      <% else %>
        <% sample.assays.each do |assay| %>
          <tr>
            <td style="background-color:
              <% if assay.status then
                   if assay.status == 'Received' %>green"> <span style="color: green;">C</span><%
  	           elsif assay.status == 'Pending' %>yellow"> <span style="color: yellow;">I</span><%
  	           elsif assay.status == 'created' %>yellow"> <span style="color: yellow;">I</span><%
	           end
	         else
	           if sample.status == 'submitted' %>yellow"> <span style="color: yellow;">I</span></%
	           elsif sample.status.nil? %>#CC6600"> <span style="color: #CC6600;">P</span><%
	           end
	         end %>&nbsp;</td>
            <td><%= sample.sample_vendor_id %></td>
            <td><%= link_to sample.isb_sample_id, sample_path(sample) %></td>
            <td><%= link_to person.isb_person_id, person_path(person) %></td>
            <td><%= person.full_collaborator %></td>
	    <td><%= link_to person.pedigree.name, person.pedigree %></td>
            <td><%= assay.vendor %></td>
            <td><%= sample.status %></td>
            <td><%= sample.date_submitted %></td>
            <td><%= assay.date_received %></td>
            <td><%= assay.date_transferred %></td>
            <td><%= assay.dated_backup %></td>
            <td><%= assay.qc_pass_date %></td>
          </tr>
        <% end # end assays.each %>
      <% end # end if sample.assays.size == 0 %>
    <% end # end samples.each %>
  <% end # end if person.samples.size == 0 %>
<% end # end person.each %>
</tbody>
</table>
<br />
<% if !@pedigree.kind_of?(Array)%>
<%= link_to "Back to Pedigree #{@pedigree.name}", pedigree_path(@pedigree) %>
<% end %>
<br />
<br />
Legend:
<table class="tablesorter" style="width: 200px;">
  <tr><td style="background-color:green">&nbsp;</td><td>Received</td></tr>
  <tr><td style="background-color:yellow">&nbsp;</td><td>In Process</td></tr>
  <tr><td style="background-color:#CC6600">&nbsp;</td><td>Pending</td></tr>
  <tr><td style="background-color:red">&nbsp;</td><td>Error!</td></tr>
</table>
<br />

