<p id="notice"><%= notice %></p>

<table class="tablesorter" style="width:950px;">
<tr>
  <td><b>ISB ID:</b> <%= @person.isb_person_id %></td>
  <td colspan="2"><b>Identifier:</b> <%= @person.collaborator_id %></td>
</tr>
<% if @person.person_aliases.size > 0 %>
<tr>
  <td colspan="3"><b>Aliases:</b> <%= @person.person_aliases.map(&:value).join("; ") %></td>
</tr>
<% end %>
<tr>
  <td><b>Gender:</b> <%= @person.gender %></td>
  <td><b>Pedigree:</b> <% if @person.pedigree %><%= link_to @person.pedigree.name, @person.pedigree %><% else %>No Pedigree for person<% end %></td>
  <td colspan="1"><b>Planning on Sequencing this person:</b> <%= @person.planning_on_sequencing %></td>
</tr>
<tr>
  <td><b>Dob:</b> <%= @person.dob %></td>
  <td><b>Dod:</b> <%= @person.dod %></td>
  <td><b>Deceased:</b> <%= @person.deceased %></td>
</tr>
<% if @person.conditions.size > 0 %>
  <tr><td colspan="3"><b>Diagnosed with following Conditions:</b></td></tr>
  <% @person.diagnoses.each do |pd| %>
    <tr><td><%= pd.person.full_identifier %></td><td><%= pd.condition.name %><% unless pd.condition_information.nil? %>: <%= pd.condition_information %><% end %></td><td>Age of Onset: <%= pd.age_of_onset %></td></tr>
  <% end %>
<% end %>

<% if @person.traits.size > 0 %>
  <tr> <td colspan="3"><b>Traits:</b></td></tr>
  <% @person.traits.each do |t| %>
  <tr><td colspan="2" class="wrap-long"><%= link_to t.phenotype.name, t.phenotype %></td><td class="wrap-long"><% unless t.trait_information.nil? %><%= t.trait_information %><% end %></td></tr>
  <% end %>
<% end %>
</table>

<%= link_to 'Add Alias for Person', new_person_alias_path(:person_id => @person) %> |
<%= link_to 'Add Trait for Person', new_trait_path(:person_id => @person) %> |
<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
<br />
<%= link_to "Back to Pedigree #{@person.pedigree.name}", @person.pedigree if @person.pedigree %>
<br />
<%= link_to 'Delete this person', @person, :confirm => 'Are you sure?', :method => :delete %>
<br />
<h1>Listing Family Memberships</h1>
<% unless @person.membership.nil? %>
<%= render 'memberships/list', :memberships => [@person.membership] %>
<% else %>
<p>Not a member of a family.</p>
<% end %>
<br />
<h1>Diagnosed with the following Conditions</h1>
<%= render 'diagnoses/list', :diagnoses => @person.diagnoses %>
<br />
<%= link_to 'Add a new Diagnosis', new_diagnosis_path(:person_id => @person) %>
<br />
<% if false %>
<h1>Traits</h1>
<%= render 'traits/list', :traits => @person.traits %>
<%= link_to 'Add a new Trait', new_trait_path(:person_id => @person) %>
<% end %>
<br />
<h1>Samples</h1>
<% if @person.samples.size > 0 %>
<table class="tablesorter">
  <thead>
  <tr>
    <th>Sample Vendor ID</th>
    <th>Customer Sample ID</th>
    <th>ISB sample ID</th>
    <th>ISB Person</th>
    <th>Person</th>
    <th>Pedigree</th>
    <th>Sample type</th>
    <th>Status</th>
    <th>Volume</th>
    <th>Concentration</th>
    <th>Quantity</th>
  </tr>
  </thead>
  <tbody>
<% @person.samples.each do |sample| %>
  <tr>
    <td><%= link_to sample.sample_vendor_id,sample %></td>
    <td><%= link_to sample.customer_sample_id, sample %></td>
    <td><%= link_to sample.isb_sample_id, sample %></td>
    <td><%= sample.person.isb_person_id %></td>
    <td><%= sample.person.collaborator_id %></td>
    <td><%= sample.person.pedigree.nil? ? 'NA' : sample.person.pedigree.name %></td>
    <td><%= sample.sample_type.nil? ? 'unknown' : sample.sample_type.name  %></td>
    <td><%= sample.status %></td>
    <td><%= sample.volume %></td>
    <td><%= sample.concentration %></td>
    <td><%= sample.quantity %></td>
  </tr>
<% end %>
</tbody>
</table>
<% else %>
<p> No samples for this person.</p>
<% end %>
<%= link_to "New Sample for person #{@person.isb_person_id}", new_sample_path(:person_id => @person) %> <br />

<br />
<h1>Assays</h1>
<% if @person.samples.size > 0 %>
<table class="tablesorter">
  <thead>
  <tr>
    <th>Name</th>
    <th>ID</th>
    <th>Sample</th>
    <th>ISB Sample ID</th>
    <th>ISB Person ID&nbsp;&nbsp;&nbsp;</th>
    <th>Collaborator ID&nbsp;&nbsp;&nbsp;</th>
    <th>Pedigree</th>
    <th>Assay type</th>
    <th>Technology&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
<% @person.samples.each do |sample| %>
<% sample.assays.each do |assay| %>
  <tr>
    <td><%= link_to assay.name, assay %></td>
    <td><%= link_to "isb_asy_"+assay.id.to_s, assay %></td>
    <td><%= assay.sample.sample_vendor_id %></td>
    <td><%= assay.sample.isb_sample_id %></td>
    <% if assay.sample.person.nil? then %>
    <td colspan="3">No Person information for this sample</td>
    <% else %>
    <td><%= assay.sample.person.isb_person_id %></td>
    <td><%= assay.sample.person.collaborator_id %></td>
    <td><%= assay.sample.person.pedigree.name %></td>
    <% end %>
    <td><%= assay.assay_type %></td>
    <td><%= assay.technology %></td>
    <td><%= assay.status %></td>
  </tr>
<% end %>
<%end%>
</tbody>
</table>
<% else %>
<p> No assays for this person.</p>
<% end %>
<%= link_to 'Add new assay', new_assay_path() %>

<br />
<h1>Assemblies</h1>
<% if @person.samples.size > 0 %>

<table class="tablesorter">
  <thead>
  <tr>
    <th>Name</th>
    <th>ID</th>
    <th>Assay</th>
    <th>Sample</th>
    <th>Genome reference&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th>Assembler version</th>
    <th>Date Recieved</th>
    <th>Current</th>
  </tr>
  </thead>
  <tbody>
<% @person.samples.each do |sample| %>
  <% sample.assays.each do |assay| %>
  <% assay.assemblies.each do |assembly| %>
  <tr>
    <td><%= link_to assembly.name, assembly %></td>
    <td><%= link_to "isb_asm_"+assembly.id.to_s, assembly %></td>
    <td><%= link_to assay.name, assay %></td>
    <td><%= assay.sample.sample_vendor_id %></td>
    <td><%= assembly.genome_reference.name %></td>
    <td><%= assembly.software_version %> </td>
    <td><%= assembly.file_date %> </td>
    <td><%= assembly.current %> </td>
  </tr>
<% end %>
<% end %>
<% end %>
</tbody>
</table>
<% else %>
<p>No assemblies for this sample</p>
<% end %>
<%= link_to 'Add new assembly', new_assembly_path(:sample_id => @sample) %>








<h1>Relationships</h1>
<% if @person.relationships.size > 0 then %>
<table class="tablesorter">
  <thead>
  <tr>
    <th>Pedigree</th>
    <th>Relationship Type</th>
    <th>Person</th>
    <th>Relationship</th>
    <th>Relation</th>
  </tr>
  </thead>
  <tbody>
<% @person.relationships.each do |person_relationship| %>
  <tr>
  <td><%= link_to person_relationship.person.pedigree.name, person_relationship.person.pedigree %></td>
  <td><%= person_relationship.relationship_type %></td>
  <td><%= link_to person_relationship.person.identifier, person_relationship.person %></td>
  <td>is the <%= person_relationship.relation_order.nil? ? '' : person_relationship.relation_order.ordinalize %> <%= link_to person_relationship.name, person_relationship %> of </td>
  <td><%= link_to person_relationship.relation.identifier, person_relationship.relation %></td>
  </tr>
<% end %>
</tbody>
</table>
<% else %>
<p> No relationships for this person.</p>
<% end %>
<br />

<%= link_to "Add Relationship for current person #{@person.identifier}", new_relationship_path(:person_id => @person, :pedigree_filter => {:id => @person.pedigree}) %>
<br /><br />
<script>
  $(document).ready(function() { $(".tablesorter").tablesorter({"theme": "blue"}); });
</script>
