<h1>Parsing Spreadsheet</h1>
<p>Any errors parsing the spreadsheet will be shown first, then any successes.</p>
<p> If it is parsed correctly then hit the Save button at the bottom of the page to enter the data into the database.  If it is not parsed correctly, then hit the BACK button, edit your spreadsheet, and resubmit the form with the new version of the spreadsheet.</p>
<p><u>There is a time limit on this page.  If you do not press Save within <b>one hour</b>, the temporary objects will be wiped from the system and you will need to press Back and upload the spreadsheet again.</u></p>

<p><b><%= flash[:notice] unless flash[:notice].nil? or flash[:notice].empty? %></b></p>

<% if @errors.empty? %>
<h1>Failures</h1>
<p>No failures!!</p>
<% else %>
<h1>Failures</h1>
<ul>
<% @errors.each do |error| %>
<li>
Problems in line number <%= error[0] %>:<br/>
<%= raw error[1]["row"] %>
<%= raw error[1]["line"] %>
<% error[1].each_pair do |type, entry| %>
  <% next if type == "row" %>
  <p><b><%= type %>:</b>
  <% entry.full_messages.each do |msg| %>
    <%= msg %><br />
  <% end %>
  </p>
<% end %>
</li>
<br />

<% end %>
</ul>
<% end %>

<% unless @people.empty? and @samples.empty? %>
<h1>Successes</h1>
<% end %>
<% unless @people.empty? %>
<h3>People Found</h3>
<table class="tablesorter">
  <thead>
    <th>collaborator_id</th>
    <th>gender</th>
    <th>comments</th>
  </thead>

<% @people.each do |person| %>
  <tr>
    <td><%= person.collaborator_id %></td>
    <td><%= person.gender %></td>
    <td><%= person.comments %></td>
  </tr>
<% end %>
</table>
<% end %>
<% if @aliases.empty? %>
<p><b>No aliases Found.</b>  If you were expecting there to be aliases, then this is an error!</p>
<% else %>
<h3>Aliases Found</h3>
<table class="tablesorter">
  <thead>
     <th>Pedigree ID</th>
     <th>Collaborator ID</th>
     <th>Aliases</th>
   </thead>
   <tbody>
   <% @aliases.each do |palias| %>
     <tr>
       <td><%= palias[0] %></td>
       <td><%= palias[1] %></td>
       <td><%= if palias[2].kind_of?(Array) then palias[2].join(";") else palias[2] end %></td>
     </tr>
   <% end %>
   </tbody>
</table>
<% end %>

<% if @samples.empty? %>
<p><b>No Samples Found</b>.  If you were expecting there to be samples, then this is an error!</p>
<% else %>
<h3>Samples Found</h3>
<table class="tablesorter">
  <thead>
    <th>vendor_id</th>
    <th>sample_type</th>
  </thead>
  <% @samples.each do |sample| %>
  <tr>
    <td><%= sample.sample_vendor_id %></td>
    <td><%= sample.sample_type.name %></td>
  </tr>
  <% end %>
</table>
<% end %>
<% unless @diagnoses.empty? %>
<h3>Diagnoses Found</h3>
<table class="tablesorter">
  <thead>
    <th>disease</th>
    <th>pedigree</th>
    <th>person</th>
  </thead>
  <% @diagnoses.each do |diag| %>
  <tr>
    <td><%= Disease.find(diag[0]).name %></td>
    <td><%= diag[1] %></td>
    <td><%= diag[2] %></td>
  </tr>
  <% end %>
</table>

<% end %>
<% unless @phenotypes.empty? %>
<h3>Phenotypes Found</h3>
<table class="tablesorter">
  <thead>
    <th>phenotype</th>
    <th>pedigree</th>
    <th>person</th>
    <th>info</th>
  </thead>
  <% @phenotypes.each do |phen| %>
  <tr>
    <td><%= Phenotype.find(phen[0]).name %></td>
    <td><%= phen[1] %></td>
    <td><%= phen[2] %></td>
    <td><%= phen[3] %></td>
  </tr>
  <% end %>
</table>

<% end %>

<h3>Memberships Found</h3>
<table class="tablesorter">
  <thead>
    <th>pedigree</th>
    <th>person</th>
  </thead>
  <% @memberships.each do |mem| %>
  <tr>
    <td><%= Pedigree.find(mem[0]).name %></td>
    <td><%= mem[1] %></td>
  </tr>
  <% end %>
</table>
<br />
<h3>Relationships Found</h3>
<table class="tablesorter">
  <thead>
    <th>relationship pedigree</th>
    <th>relationship person</th>
    <th>relationship relation</th>
    <th>relationship type</th>
    <th>relationship order</th>
  </thead>
  <% @relationships.each do |rel| %>
  <tr>
    <td><%= rel[0] %></td>
    <td><%= rel[1] %></td>
    <td><%= rel[2] %></td>
    <td><%= rel[3] %></td>
    <td><%= rel[4] %></td>
  </tr>
  <% end %>
</table>
<br />
<% if @errors.empty? then %>
<h1>Save</h1>
<p>If this data looks correct and you wish to submit to the database, click Save.</p>
<p>If there are no 'Successes' then this will just check and add the relationship information.</p>
<p><u>There is a time limit on this page.  If you do not press Save within <b>one hour</b>, the temporary objects will be wiped from the system and you will need to press Back and upload the spreadsheet again.</u></p>
<%= form_tag('/people/confirm') %>
<%= hidden_field_tag 'trans_id', @trans_id %>
<%= submit_tag "Save" %>
<% else %>
<h1>You may not save this data until you correct the errors listed above</h1>
<% end %>
</form>
<br />
<br />
