<?xml version="1.0" encoding="utf-8"?>
<script>
  $(document).ready(function() { setupTablesorter() });
</script>
<h1>Listing pedigrees</h1>
<%= link_to 'New Pedigree', new_pedigree_path %>
<%= link_to 'Upload a list of people into a Pedigree', upload_people_path %>
<%= button_to "Download All Pedigree Files and Index", all_pedigree_files_pedigrees_path %>

<table class="tablesorter">
  <thead>
  <tr>
    <th>Status&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th>Name</th>
    <th>ID</th>
    <th>Tag&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th>Study</th>
    <th>Description</th>
    <th>Num People</th>
    <th colspan="3" class="nosort">Controls</th>
  </tr>
  </thead>
  <tbody>
  <% @pedigrees.each do |pedigree| %>
    <tr>
      <% if pedigree.complete then %>
        <td style="background-color:green"><span style="color: green;">C</span></td>
      <% else %>
        <td style="background-color:red"><span style="color: red;">I</span></td>
      <% end %>
      <td><%= link_to pedigree.name, pedigree %></td>
      <td><%= link_to pedigree.isb_pedigree_id, pedigree %></td>
      <td><%= link_to pedigree.tag,pedigree %></td>
      <td><%= link_to pedigree.study.name, pedigree.study if pedigree.study %></td>
      <td style="white-space: normal;"><%= pedigree.description %></td>
      <td><%= pedigree.people.count %></td>
      <td><%= link_to 'Edit', edit_pedigree_path(pedigree) %></td>
      <% if false  %><td><%= link_to 'Delete pedigree', pedigree, :confirm => 'Are you sure?', :method => :delete %></td><% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<br />

