<script>
  $(document).ready(function() { setupTablesorter() });
</script>
<h1>Listing pedigrees</h1>
<%= link_to 'New Pedigree', new_pedigree_path %>
<%= link_to 'Upload a list of people into a Pedigree', upload_path %>
<%= button_to "Download All Pedigree Files and Index", all_pedigree_files_path %>

<table class="tablesorter">
  <thead>
  <tr>
    <th>Name</th>
    <th>Tag&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th>Study</th>
    <th>Description</th>
    <th colspan="3" class="nosort">Controls</th>
  </tr>
  </thead>
  <tbody>
  <% @pedigrees.each do |pedigree| %>
    <tr>
      <td><%= link_to pedigree.name, pedigree %></td>
      <td><%= pedigree.tag %></td>
      <td><%= pedigree.study.name if pedigree.study %></td>
      <td><%= pedigree.description %></td>
      <td><%= link_to 'Edit', edit_pedigree_path(pedigree) %></td>
      <% if false %><td><%= link_to 'Destroy', pedigree, :confirm => 'Are you sure?', :method => :delete %></td><% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<br />

