<%= form_for(@trait) do |f| %>
  <%= render "partials/error_messages", :target => @trait %>

  <div class="field">
    <%= f.label :person_id %><br />
    <%= f.collection_select(:person_id, Person.all(:include => { :membership => :pedigree} , :order => ['pedigrees.name', 'collaborator_id']), :id, :full_identifier, { :prompt => "-Select Person", :selected => params[:person_id]}) %>
  </div>
  <div class="field">
    <%= f.label :phenotype_id %><br />
    <%= f.collection_select(:phenotype_id, Phenotype.order(:name), :id, :name, { :prompt => "-Select Phenotype"}) %>
  </div>
  <div>If your phenotype is not here, then <%= link_to "Create a new phenotype", new_phenotype_path %></div>
  <div class="field">
    <%= f.label :trait_information %><span>  (Ex: the value of the trait)</span><br />
    <%= f.text_field :trait_information %>
  </div>
  <div class="field">
    <%= f.label :output_order %><br />
    <%= f.text_field :output_order %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
