<% if @traits.size > 0 %>
<table class="tablesorter">
  <thead>
  <tr>
    <th>Pedigree</th>
    <th>Person</th>
    <th>Phenotype</th>
    <th>Value</th>
    <th>Output order</th>
    <th class="nosort">controls</th>
  </tr>
  </thead>
  <tbody>
<% @traits.each do |trait| %>
  <tr>
    <td><% if trait.person.pedigree %><%= trait.person.pedigree.name %><% else %>No Pedigree<% end %></td>
    <td><%= trait.person.identifier %></td>
    <td><%= trait.phenotype.name if trait.phenotype %></td>
    <td><%= trait.trait_information %></td>
    <td><%= trait.output_order %></td>
    <td><%= link_to 'Show', trait %></td>
    <% if false %>
    <td><%= link_to 'Edit', edit_trait_path(trait) %></td>
    <td><%= link_to 'Destroy', trait, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</tbody>
</table>
<%= will_paginate @traits %>

<% else %>
  <table class="tablesorter">
  <% if params[:person] %>
  <p>No traits for person <%if params[:person] %><%= Person.includes(:pedigree, :person_aliases).find(params[:person]).full_identifier %><% end %></p>
  <% else %>
  <p>No traits for person</p>
  <% end %>
  </table>
<% end %>
