<p id="notice"><%= notice %></p>

<p>
  <b>Person:</b>
  <%= @trait.person.full_identifier %>
</p>

<p>
  <b>Phenotype:</b>
  <%= @trait.phenotype.name %>
</p>

<p>
  <b>Value:</b>
  <%= @trait.trait_information %>
</p>

<p>
  <b>Output order:</b>
  <%= @trait.output_order %>
</p>

<%= link_to 'Add another trait for this person', new_trait_path(:person_id => @trait.person) %> |
<%= link_to 'Edit', edit_trait_path(@trait) %> |
<%= link_to 'Back', traits_path %><br />
<%= link_to 'Back to Person', person_path(@trait.person) %> |
<%= link_to 'Back to Pedigree', pedigree_path(@trait.person.pedigree) %>
