<%= form_for(@relationship) do |f| %>
  <%= render "partials/error_messages", :target => @relationship %>

  <% sel_person = params[:person_id] || nil %>
  <% if sel_person.nil? and @relationship.person then sel_person = @relationship.person.id end %>
  <% person = sel_person.nil? ? nil : Person.find(sel_person)  %>
  <% pedigree_id = person.nil? ? nil : person.pedigree_id %>
  <% if params[:pedigree_filter] then pedigree_id = params[:pedigree_filter][:id] end %>
  <% sel_relation = params[:relationship_relation_id] || nil %>
  <% if sel_relation.nil? and @relationship.relation then sel_relation = @relationship.relation.id end %>

  <div class="field">
    <%= f.label :pedigree%><br />
    <%= collection_select(:pedigree, :id, Pedigree.order("pedigrees.tag"), :id, :name, options = { :selected => pedigree_id, :include_blank => "-Select the pedigree this sample belongs to" }) %>
  </div>
  <script>

    $("#pedigree_id").change(function() {
      var url = '/people/get_drop_down_people_by_pedigree';
      var request = $.ajax({
        data: { 'pedigree_id' : $(this).val() },
        dataType: 'json',
        type: 'GET',
        url: url
        });
      request.complete(
      );

      request.done( function(responseData) {
          $("#relationship_person_id").children().remove();
          $("#relationship_relation_id").children().remove();
          if ($.isEmptyObject(responseData)) {
            $("#relationship_person_id").append('<option value="">-No People in this pedigree. Select Pedigree</option>');
            $("#relationship_relation_id").append('<option value="">-No People in this pedigree. Select Pedigree</option>');
          } else {
            $("#relationship_person_id").append('<option value="">-Select Person</option>');
            for (var key in responseData) {
              $("#relationship_person_id").append($('<option>', {
                value : key,
                text : responseData[key]
              }));
            }
            $("#relationship_relation_id").append('<option value="">-Select Person</option>');
            for (var key in responseData) {
              $("#relationship_relation_id").append($('<option>', {
                value : key,
                text : responseData[key]
              }));
            }
	  }

          <% if !sel_person.nil? %>
            $("#relationship_person_id").val(<%= sel_person %>);
          <% end %>
	  <% if !sel_relation.nil? %>
            $("#relationship_relation_id").val(<%= sel_relation %>);
          <% end %>
        });
      request.fail(function(jqXHR, textStatus) {
        alert("Request failed: "+textStatus);
      });
    }
    ).trigger('change');

  </script>

  <div class="field">
    <%= f.label :person %><br />
    <%= select("relationship","person_id", ["-Select Pedigree"]) %>
  </div>
  <div> is (the) </div>
  <div class="field">
    <%= f.collection_select(:name, ["wife","husband","mother","father","son","daughter","monozygotic twin","dizygotic twin"], :downcase, :titleize, { :include_blank => "-Select relationship name" }) %>
    <%= check_box("status", "divorced") %> divorced?
  </div>
  <div> (of | to | from) Person</div>
  <div class="field">
  <%= select("relationship", "relation_id", ["-Select Pedigree"]) %>
  </div>
  <div class="field">
    <%= f.label :relation_order %> (ex: this is the 3rd child of this parent or the 2nd wife of this man)<br />
    <%= f.collection_select(:relation_order, (1..20).to_a, :to_i, :to_s, options = { :include_blank => "-Select Relation Order" }) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
