<%= form_for(@relationship) do |f| %>
  <%= render "partials/error_messages", :target => @relationship %>
  <div class="field">
    <%= f.label :person %><br />
    <% selected_person = params[:person].nil? ? @relationship.person.nil? ? '' : @relationship.person.id : params[:person] %>
    <% @people_choices = Person.has_pedigree(params[:pedigree_filter]) %>
    <%= f.collection_select(:person_id, @people_choices, :id, :full_identifier, options = { :include_blank => '-Select person', :selected => selected_person}) %>
  </div>
  <div> is (the) </div>
  <div class="field">
    <%= f.collection_select(:name, ["wife","husband","mother","father","son","daughter","monozygotic twin","dizygotic twin"], :downcase, :titleize, { :include_blank => "-Select relationship name" }) %>
    <%= check_box("status", "divorced") %> divorced?
  </div>
  <div> (of | to | from) Person</div>
  <div class="field">
    <% selected_relation = @relationship.relation.nil? ? '' : @relationship.relation.id %>
    <%= f.collection_select(:relation_id, @people_choices, :id, :full_identifier, options = {:include_blank => '-Select person', :selected => selected_relation}) %>
  </div>
  <div class="field">
    <%= f.label :relation_order %> (ex: this is the 3rd child of this parent or the 2nd wife of this man)<br />
    <%= f.collection_select(:relation_order, (1..20).to_a, :to_i, :to_s, options = { :include_blank => "-Select Relation Order" }) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
