
<p>errors is <%= @relationship.errors[:base].inspect %></p>
<p>params is <%= params.inspect %></p>
<p>relationship is <%= @relationship.inspect %></p>
<p>reciprocal is <%= @reciprocal.inspect %></p>
<p>correct_gender? <%= @relationship.correct_gender? %>
<p>correct_gender? <%= @reciprocal.correct_gender? %>

<p>person is <%= @relationship.person.inspect %></p>
<p>relation is <%= @relationship.relation.inspect %></p>
