<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @relationship.id %>
</p>

<p>
  <b>Name:</b>
  <%= @relationship.name %>
</p>

<p>
  <b>Person:</b>
  <%= @relationship.person_id %>
</p>

<p>
  <b>Parent:</b>
  <%= @relationship.parent %>
</p>

<p>
  <b>Child:</b>
  <%= @relationship.child %>
</p>


<%= link_to 'Edit', edit_relationship_path(@relationship) %> |
<%= link_to 'Back', relationships_path %>
