<% sel_person = params[:person_id] || nil %>
  <% if sel_person.nil? and !@sample.nil? and !@sample.person.nil? then sel_person = @sample.person.id end %>
  <% person = sel_person.nil? ? nil : Person.find(sel_person)  %>
  <% pedigree_id = person.nil? ? nil : person.pedigree_id %>
  <div class="field">
    <%= f.label :pedigree %><br />
    <%= collection_select(:pedigree, :id, @pedigrees, :id, :name, options = { :selected => pedigree_id, :include_blank => "-Select the pedigree this sample belongs to" }) %>
  </div>
  <script>

    $("#pedigree_id").change(function() {
      var url = '/people/get_drop_down_people_by_pedigree';
      var request = $.ajax({
        data: { 'pedigree_id' : $(this).val() },
    dataType: 'json',
        type: 'GET',
    url: url
    });
      request.complete(
      );

      request.done( function(responseData) {
          $("#person_id").children().remove();
      if ($.isEmptyObject(responseData)) {
        $("#person_id").append('<option value="">-No People in this pedigree. Select Pedigree</option>');
      } else {
        $("#person_id").append('<option value="">-Select Person</option>');
        for (var key in responseData) {
          $("#person_id").append($('<option>', {
            value : key,
            text : responseData[key]
          }));
        }
      }
      <% if !sel_person.nil? %>
        $("#person_id").val(<%= sel_person %>);
      <% end %>
        });
      request.fail(function(jqXHR, textStatus) {
        alert("Request failed: "+textStatus);
      });
    }
    ).trigger('change');

  </script>
  <div class="field">
    <%= f.label :person %><br />
    <%= select("person", "id", ["-Select Pedigree"]) %>
  </div>
