<%= form_for(@assembly_file) do |f| %>
  <%= render "partials/error_messages", :target => @assembly_file %>

  <div class="field">
    <%= f.label :genome_reference %><br />
    <%= f.collection_select(:genome_reference_id, GenomeReference.all, :id, :name, { :prompt => "-Select a Genome Reference", :selected => @assembly_file.genome_reference_id}) %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :assembly %><br />
    <% selected = @assembly_file.assembly.nil? ? '' : @assembly_file.assembly.id %>
    <%= f.collection_select(:assembly_id, Assembly.all, :id, :identifier, { :prompt => "-Select an Assembly for this File", :selected => selected }) %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location, :size => 100 %>
  </div>
  <div class="field">
    <%= f.label :file_type %><br />
    <%= f.collection_select(:file_type_id, FileType.all, :id, :type_name, { :prompt => "-Select a File Type" }, :selected => @assembly_file.file_type_id || '') %>
  </div>
  <div class="field">
    <%= f.label :metadata %><br />
    <%= f.text_area :metadata %>
  </div>
  <div class="field">
    <%= f.label :software %><br />
    <%= f.text_field :software %>
  </div>
  <div class="field">
    <%= f.label :software_version %><br />
    <%= f.text_field :software_version %>
  </div>
  <div class="field">
    <%= f.label :file_date %><br />
    <%= f.datetime_select :file_date %>
  </div>
  <div class="field">
    <%= f.label :current %><br />
    <%= f.check_box :current %>
  </div>
  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_area :comments %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
