<% if assembly_files.size == 0 %>
  <p>No files fulfill these conditions.</p>
<% else %>
<table class="tablesorter">
  <thead>
  <tr>
    <th>Name</th>
    <th>File type</th>
    <th>Sample ID</th>
    <th>Assembly</th>
    <th>Person</th>
    <th>Pedigree</th>
    <th>Genome reference&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th>Software&nbsp;&nbsp;</th>
    <th>Software version</th>
  </tr>
  </thead>
  <tbody>
<% assembly_files.each do |assembly_file| %>
  <tr>
    <td> <%= image_tag('/images/file_location.png', :size => "20x20", :onmouseover => "$('#assembly_file_loc_#{assembly_file.id}').poshytip('show')", :onmouseout => "$('#assembly_file_loc_#{assembly_file.id}').poshytip('hide')", :id => "assembly_file_loc_#{assembly_file.id}") %> <%= link_to assembly_file.name, assembly_file %></td>
    <td><%= assembly_file.file_type.type_name %></td>
    <td> <%= assembly_file.assembly.assay.sample.nil? ? 'No sample linked to this assembly file' : link_to(assembly_file.assembly.assay.sample.sample_vendor_id, sample_path(assembly_file.assembly.assay.sample)) %></td>
    <td><%= link_to assembly_file.assembly.name, assembly_path(assembly_file.assembly) %></td>
    <% if assembly_file.assembly.assay.sample.person.collaborator_id.nil? then %>
    <td colspan="1"><%= link_to assembly_file.assembly.assay.sample.person.isb_perons_id, assembly_file.assembly.assay.sample.person  %>
    <%else%>
    <td colspan="1"><%= link_to assembly_file.assembly.assay.sample.person.collaborator_id, assembly_file.assembly.assay.sample.person  %>
    <%end%>
    <td><%= assembly_file.assembly.assay.sample.nil? ? '' : assembly_file.assembly.assay.sample.person.nil? ? '' : link_to(assembly_file.assembly.assay.sample.person.pedigree.name, assembly_file.assembly.assay.sample.person.pedigree) %></td>
    <td><%= assembly_file.genome_reference.name %></td>
    <td><%= assembly_file.software %></td>
    <td><%= assembly_file.software_version %></td>
  </tr>
  <script>
  $("#assembly_file_loc_<%= assembly_file.id %>").poshytip({
      content: '<%= assembly_file.location if assembly_file.location %>',
      className: 'tip-yellow',
      showOn: 'none',
      alignTo: 'target',
      alignX: 'inner-left'
  });
  </script>

<% end %>
  </tbody>
</table>

<%= will_paginate assembly_files %>

<% end %>


