<p id="notice"><%= notice %></td>

<table class="tablesorter" style="width: 500px;">
  <tr>
    <td><b>Name:</b><%= @assembly_file.name %></td>
    <td><b>Genome reference:</b> <%= @assembly_file.genome_reference.name %> </td>
    <td colspan="2"> <b>File type:</b> <%= @assembly_file.file_type.type_name %> </td>
  </tr>
  <tr>
    <td colspan="1"> <b>Assay:</b> <%= link_to @assembly_file.assembly.assay.name , assay_path(@assembly_file.assembly.assay) %> </td>
    <td colspan="1"> <b>Sample:</b> <%= link_to @assembly_file.assembly.assay.sample.sample_vendor_id  , sample_path(@assembly_file.assembly.assay.sample) %> </td>
    <td colspan="1">
      <b>Person:</b>
      <% if @assembly_file.assembly.assay.sample.person.collaborator_id.nil? then %>
      <%= link_to @assembly_file.assembly.assay.sample.person.isb_person_id, @assembly_file.assembly.assay.sample.person  %>
      <%else%>
      <%= link_to @assembly_file.assembly.assay.sample.person.collaborator_id, @assembly_file.assembly.assay.sample.person  %>
      (<%= link_to @assembly_file.assembly.assay.sample.person.isb_person_id, @assembly_file.assembly.assay.sample.person  %>)
<%end%>


 </td>
    <td colspan="1"> <b>Pedigree:</b> <%= link_to @assembly_file.assembly.assay.sample.person.pedigree.name  , pedigree_path(@assembly_file.assembly.assay.sample.person.pedigree) %> </td>
  </tr>

  <tr>
    <td><b>Software:</b> <%= @assembly_file.software %> </td>
    <td><b>Software version:</b> <%= @assembly_file.software_version %> </td>
    <td><b>File date:</b> <%= @assembly_file.file_date %> </td>
    <td><b>Current:</b> <%= @assembly_file.current %> </td>
  </tr>
  <tr>
    <td colspan="4"> <b>Location:</b> <%= @assembly_file.location %> </td>
  </tr>
  <tr>
    <td colspan="4"> <b>Metadata:</b><span style="word-wrap: break-word;"><pre> <%= @assembly_file.metadata %></pre> </span></td>
  </tr>
  <tr>
    <td colspan="4"> <b>Description:</b> <%= @assembly_file.description %> </td>
  </tr>
  <tr>
    <td colspan="4"> <b>Comments:</b> <%= @assembly_file.comments %> </td>
  </tr>
</table>

<% if @assembly_file.file_type.type_name == 'SUMMARY' %>
<div>
  <div><span style="font-weight:bold; text-decoration: underline;">Summary File Contents</span></div>
  <div>
  <% if FileTest.exists?(@assembly_file.location) %>
    <%= simple_format(File.read(@assembly_file.location)) %>
  <% else %>
    <p>Error finding file.</p>
  <% end %>
  </div>
</div>
<% end %>


<%= link_to 'Edit', edit_assembly_file_path(@assembly_file) %> |
<%= link_to 'Back to all assemblies', assembly_files_path %> |
<%= link_to "Back to assembly #{@assembly_file.assembly.name}", assembly_path(@assembly_file.assembly) %> |
<%= link_to "Back to assay #{@assembly_file.assembly.assay.name}", assay_path(@assembly_file.assembly.assay) %>
