<% if diseases.size > 0 %>
<table class="tablesorter" style="max-width: 80%">
  <thead>
  <tr>
    <th>Name</th>
    <th>Omim</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
<% diseases.each do |disease| %>
  <tr>
    <td><%= link_to disease.name, disease %></td>
    <td><%= link_to disease.omim_id, "http://omim.org/entry/#{disease.omim_id}" %></td>
    <td><p style="white-space:pre"><% if !disease.description.nil? then %><% wrapped = word_wrap(disease.description) %><%= raw wrapped.gsub(/\(\d+\)/) { |digits| digits.sub!("(",""); digits.sub!(")",""); link_to("(#{digits})", "http://omim.org/entry/#{digits}") } %> <% end %></td>
    <% if false %>
    <td><%= link_to 'Show', disease %></td>
    <td><%= link_to 'Edit', edit_disease_path(disease) %></td>
    <td><%= link_to 'Destroy', disease, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</tbody>
</table>
<%= will_paginate diseases %>

<% else %>
<p>No diseases found.</p>
<% end %>
