<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @disease.id %>
</p>

<p>
  <b>Name:</b>
  <%= @disease.name %>
</p>

<p>
  <b>Omim:</b>
  <%= @disease.omim_id %>
</p>

<p>
  <b>Description:</b>
  <%= @disease.description %>
</p>


<%= link_to 'Edit', edit_disease_path(@disease) %> |
<%= link_to 'Back', diseases_path %>
