<%= form_for(@study) do |f| %>
  <%= render "partials/error_messages", :target => @study %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :tag %><br />
    <%= f.text_field :tag %>
  </div>
  <div class="field">
    <%= f.label :lead %><br />
    <%= f.text_field :lead %>
  </div>
  <div class="field">
    <%= f.label :collaborator %><br />
    <%= f.text_field :collaborator %>
  </div>
  <div class="field">
    <%= f.label :collaborating_institution %><br />
    <%= f.text_field :collaborating_institution %>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :contact %><br />
    <%= f.text_field :contact %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
