<script>
  $(document).ready(function() { setupTablesorter() });
</script>
<h1>Listing studies</h1>

<table class="tablesorter">
  <thead>
  <tr>
    <th>Name</th>
    <th>Lead&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th>Collaborator&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th>Collaborating Institution&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th width="100">Description&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th>Contact&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th class="nosort" colspan="3">Controls</th>
  </tr>
  </thead>
  <tbody>
<% @studies.each do |study| %>
  <tr>
    <td><%= link_to study.name, study %></td>
    <td><%= study.lead %></td>
    <td style="white-space: normal;"><%= study.collaborator %></td>
    <td style="whtie-space: normal;"><%= study.collaborating_institution %></td>
    <td style="white-space: normal;"><%= study.description %></td>
    <td style="white-space: normal;"><%= study.contact %></td>
    <td><%= link_to 'Edit', edit_study_path(study) %></td>
    <% if false %><td><%= link_to 'Destroy', study, :confirm => 'Are you sure?', :method => :delete %></td><% end %>
  </tr>
<% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Study', new_study_path %>
