<p id="notice"><%= notice %></p>
<p>
  <span style="font-size: 250%; font-weight: bold;"><%= @study.name %></span>
</p>
<table width="100%">
  <tr>
    <td>
      <b>Collaborator:</b><%= @study.collaborator %>
    </td>
    <td>
      <b>Collaborating Institution:</b><%= @study.collaborating_institution %>
    </td>
  </tr>
  <tr>
    <td><b>Num Individuals:</b><%= @study.count_individuals %></td>
    <td><b>Num Complete Trios:</b><%= @study.count_trios %></td>
  </tr>
</table>

<% if false %> <%= link_to "Delete study #{@study.name}, all pedigrees, all people, and all samples associated", @study, :confirm => "Are you sure you want to delete this study, all of its pedigrees, all of its people, and all of their associated information (including samples)?", :method => :delete %> <% end %>



<p>
  <b>Pedigrees</b>
<% if @pedigrees.nil? or @pedigrees.empty? %>
  <p>No pedigrees for this study</p>
<% else %>
<b>(<%= @pedigrees.count %>)</b>:<br>
<table class="tablesorter">
  <tr>
    <th>Pedigree Name</th>
    <th>Pedigree Tag</th>
    <th>Pedigree Description</th>
    <th style="colspan: 3;">Controls</th>
  </tr>
<% @pedigrees.each do |pedigree| %>
  <tr>
    <td><%= link_to pedigree.name, pedigree %></td>
    <td><%= pedigree.tag %></td>
    <td><%= pedigree.description %></td>
    <td><%= link_to 'Edit', edit_pedigree_path(pedigree) %></td>
    <% if false %>
    <td><%= link_to 'Show', pedigree %></td>
    <td><%= link_to 'Destroy', pedigree, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>
<% end %>
</p>

<%= link_to "Download Madeline tables for this study", export_all_madeline_tables_pedigrees_path(:study => @study) %>
<br />
<br />
<%= link_to 'Add Pedigree', new_pedigree_path(:study => @study) %>
<br />

<%= link_to 'Edit Study', edit_study_path(@study) %> |
<%= link_to 'Back to Study Index', studies_path %>
<br />
<br />
