<p id="notice"><%= notice %></td>

<table class="tablesorter">
  <tr>
    <td><b>Name:</b> <nobr><%= @assay_file.name %></nobr> </td>
    <td><b>Genome reference:</b> <%= @assay_file.genome_reference.name %> </td>
    <td colspan="2"> <b>File type:</b> <%= @assay_file.file_type %> </td>
  </tr>
  <tr>
    <td><b>Software:</b> <%= @assay_file.software %> </td>
    <td><b>Software version:</b> <%= @assay_file.software_version %> </td>
    <td><b>File date:</b> <%= @assay_file.file_date %> </td>
    <td><b>Current:</b> <%= @assay_file.current %> </td>
  </tr>
  <tr>
    <td colspan="4"> <b>Location:</b> <%= @assay_file.location %> </td>
  </tr>
  <tr>
    <td colspan="4"> <b>Metadata:</b> <%= @assay_file.metadata %> </td>
  </tr>
  <tr>
    <td colspan="4"> <b>Description:</b> <%= @assay_file.description %> </td>
  </tr>
  <tr>
    <td colspan="4"> <b>Comments:</b> <%= @assay_file.comments %> </td>
  </tr>
</table>

<% if @assay_file.file_type == 'SUMMARY' %>
<div>
  <div><span style="font-weight:bold; text-decoration: underline;">Summary File Contents</span></div>
  <div>
  <%= simple_format(File.read(@assay_file.location)) %>
  </div>
</div>
<% end %>


<%= link_to 'Edit', edit_assay_file_path(@assay_file) %> |
<%= link_to 'Back', assay_files_path %>
