<%= form_for(@assay) do |f| %>
  <% if @assay.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assay.errors.count, "error") %> prohibited this assay from being saved:</h2>

      <ul>
      <% @assay.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :sample_id %><br />
    <%= f.text_field :sample_id %>
  </div>
  <div class="field">
    <%= f.label :record_id %><br />
    <%= f.text_field :record_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :technology %><br />
    <%= f.text_field :technology %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
