<%= form_with model: @assay do |f| %>
  <%= render "partials/error_messages", :target => @assay %>

  <div class="field">
    <%= f.label :name %> (ex: GS000005701-DID or SS6002862)<br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :assay_type %><br />
    <%= f.collection_select(:assay_type, Assay.where("assay_type != ''").order('assay_type DESC').distinct.pluck(:assay_type), :to_s, :to_s) %>
  </div>
  <div class="field">
    <%= f.label :vendor %><br />
    <%= f.collection_select(:vendor, Assay.where("vendor != ''").order('vendor').distinct.pluck(:vendor), :to_s, :to_s) %>
  </div>
  <div class="field">
    <%= f.label :technology %><br />
    <%= f.collection_select(:technology, Assay.where("technology != ''").order('technology').distinct.pluck(:technology), :to_s, :to_s) %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.collection_select(:status, ["created","pending", "submitted", "received"], :downcase, :titleize, { :include_blank => "-Select Assay Status", :selected => @assay.status || '' }) %>
  </div>
  <% if params[:action] == 'new' then %>
    <div class="field">
      <%= label(Sample, :sample) %><br />
      <%= collection_select(:sample, :sample_id, Sample.includes(person: :person_aliases), :id, :identifier, { :selected => params[:sample_id] || ''} ) %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
