<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @assay.name %>
</p>

<p>
  <b>Assay type:</b>
  <%= @assay.assay_type %>
</p>

<p>
  <b>Technology:</b>
  <%= @assay.technology %>
</p>

<p>
  <b>Description:</b>
  <%= @assay.description %>
</p>


<%= link_to 'Edit', edit_assay_path(@assay) %> |
<%= link_to 'Back', assays_path %>
