<p id="notice"><%= notice %></td>

<table class="tablesorter">
<tr>
<td>
  <b>Name:</b>
  <%= @assay.name %>
</td>
<td>
  <b>Assay type:</b>
  <%= @assay.assay_type %>
</td>
<td>
  <b>Technology:</b>
  <%= @assay.technology %>
</td>
</tr>
<tr>
  <td colspan="2">
  <b>Vendor:</b>
  <%= @assay.vendor %>
  </td>
  <td><b>Status:</b>
  <%= @assay.status %>
  </td>
</tr>
<tr>
<td colspan="3">
  <b>Description:</b>
  <%= @assay.description %>
</td>
</tr>
</table>
<%= link_to 'Edit', edit_assay_path(@assay) %> |
<%= link_to "Back to sample #{@assay.sample.identifier}", sample_path(@assay.sample) unless @assay.sample.nil? %> |
<%= link_to "Back to person #{@assay.sample.person.identifier}", person_path(@assay.sample.person) unless @assay.sample.nil? or @assay.sample.person.nil? %>
<br /><br />
<% if @assay.sample.nil? then %>
<%= link_to "Link a sample to this assay", new_sample_assay_path(:assay_id => @assay) %>
<br /><br />
<% end %>
<h1>Listing Assemblies</h1>
<% if @assay.assemblies.size > 0 %>
<%= render 'assemblies/list', :assemblies => @assay.assemblies %>
<% else %>
<p>No assemblies for this assay.</p>
<% end %>
<%= link_to "Add an assembly for this assay", new_assembly_path(:assay_id => @assay) %>
