<p id="notice"><%= notice %></td>

<table class="tablesorter">
<tr>
<td>
  <b>Name:</b>
  <%= @assay.name %>
</td>
<td>
  <b>Assay type:</b>
  <%= @assay.assay_type %>
</td>
<td>
  <b>Technology:</b>
  <%= @assay.technology %>
</td>
</tr>
<tr>
<td colspan="3">
  <b>Description:</b>
  <%= @assay.description %>
</td>
</tr>
</table>
<%= link_to 'Edit', edit_assay_path(@assay) %> |
<%= link_to 'Back', assays_path %>
<br /><br />
<h1>Listing Assemblies</h1>
<% if @assay.assemblies.size > 0 %>
<%= render 'assemblies/list', :assemblies => @assay.assemblies %>
<% else %>
<p>No assemblies for this assay.</p>
<% end %>
