<%= form_for(@acquisition) do |f| %>
  <%= render "partials/error_messages", :target => @acquisition %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :person_id %><br />
    <%= f.text_field :person_id %>
  </div>
  <div class="field">
    <%= f.label :sample_id %><br />
    <%= f.text_field :sample_id %>
  </div>
  <div class="field">
    <%= f.label :method %><br />
    <%= f.text_field :method %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
