<h1>Listing acquisitions</h1>

<%= render 'partials/filter' %>
<%= link_to 'New acquisition', new_acquisition_path %>
<% if @acquisitions.size > 0 %>
<table class="tablesorter">
  <thead>
    <tr>
      <th>Pedigree</th>
      <th>Person</th>
      <th>Sample</th>
      <th colspan="2" class="nosort">Controls</th>
    </tr>
  </thead>
  <tbody>
<% @acquisitions.each do |acquisition| %>
  <% person = acquisition.person %>
  <% sample = acquisition.sample %>
  <tr>
    <td><% if person.nil? then %>No Person<% else %><%= link_to person.pedigree.name, person.pedigree %><% end %></td>
    <td><% if person.nil? then %>No Person for <%= acquisition.person_id =%><% else %><%= link_to person.full_identifier, person %><% end %></td>
    <td><%= sample.nil? ? "SAMPLE ID DOESN'T EXIST IN DB: #{acquisition.sample_id}" : link_to(sample.sample_vendor_id, sample) %></td>
    <td><%= link_to 'show', acquisition_path(acquisition) %></td>
    <td><%= link_to 'Edit', edit_acquisition_path(acquisition) %></td>
    <% if false %><td><%= link_to 'Delete link between person and sample', acquisition, :confirm => 'Are you sure?', :method => :delete %></td><% end %>
  </tr>
<% end %>
  </tbody>
</table>

<%= will_paginate @acquisitions %>
<br />
<%= link_to 'New Acquisition', new_acquisition_path %>
<% else %>
<table class="tablesorter">
  <tr><td>No acqusiitions found for this query</td></tr>
</table>
<% end %>
