<%= form_with model: @assembly do |f| %>
  <%= render "partials/error_messages", :target => @assembly %>

  <div class="field">
    <%= f.label :genome_reference %><br />
    <%= f.collection_select(:genome_reference_id, GenomeReference.all, :id, :name, { :prompt => "-Select a Genome Reference", :selected => @assembly.genome_reference_id || ''}) %>
  </div>
  <div class="field">
    <%= f.label :name %>(ex: GS00000####-ASM)<br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :assay %><br />
    <%= f.collection_select(:assay_id, Assay.order("name"), :id, :identifier, { :prompt => "-Select an Assay for this File", :selected => params[:assay_id] || @assembly.assay_id || ''}) %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :location %> (Full path to file.  ex: /root/studies/pedigree/sequence/family/GS00XXX-DNA_X01/GS00000XXXX-ASM/ASM/)<br />
    <%= f.text_field :location, :size => 100 %>
  </div>
  <div class="field">
    <%= f.label :software %> (Name of software program.  ex: cgatools)<br />
    <%= f.text_field :software %>
  </div>
  <div class="field">
    <%= f.label :software_version %>(Version of software program. ex: 1.11.00.18)<br />
    <%= f.text_field :software_version %>
  </div>
  <div class="field">
    <%= f.label :current %>(This sample is the most current sample?)<br />
    <%= f.check_box :current %>
  </div>
  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_area :comments, :cols => 35, :rows => 5 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
