<% if assemblies.nil? or assemblies.size == 0 %>
  <p>No files fulfill these conditions.</p>
<% else %>
<table class="tablesorter">
  <thead>
  <tr>
    <th>Sample ID</th>
    <th>Pedigree</th>
    <th>Genome reference&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th>Assembly Name</th>
    <th>File type</th>
    <th>Software&nbsp;&nbsp;</th>
    <th>Software version</th>
    <th class="nosort">Controls</th>
  </tr>
  </thead>
  <tbody>
<% assemblies.each do |assembly| %>
  <tr>
    <td><%= image_tag('file_location.png', :size => "20x20", :onmouseover => "$('#assembly_loc_#{assembly.id}').poshytip('show')", :onmouseout => "$('#assembly_loc_#{assembly.id}').poshytip('hide')", :id => "assembly_loc_#{assembly.id}") %><%= link_to assembly.assay.sample.sample_vendor_id, assembly.assay.sample %></td>
    <td><%= assembly.assay.sample.nil? ? '' : assembly.assay.sample.person.nil? ? '' : link_to(assembly.assay.sample.person.pedigree.name, assembly.assay.sample.person.pedigree) %></td>
    <td><%= assembly.genome_reference.name %></td>
    <td><%= link_to assembly.name, assembly %></td>
    <td><%= assembly.file_type %></td>
    <td><%= assembly.software %></td>
    <td><%= assembly.software_version %></td>
    <td><%= link_to 'Show', assembly %></td>
  </tr>
  <script>
  $("#assembly_loc_<%= assembly.id %>").poshytip({
      content: '<%= assembly.location if assembly.location %>',
      className: 'tip-yellow',
      showOn: 'none',
      alignTo: 'target',
      alignX: 'inner-left'
  });
  </script>

<% end %>
  </tbody>
</table>

<%= assemblies.size %> files

<% end %>


