<% if assemblies.size == 0 %>
  <p>No files fulfill these conditions.</p>
<% else %>
<table class="tablesorter">
  <thead>
  <tr>
    <th>Sample ID</th>
    <th>Pedigree</th>
    <th>Genome reference&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th>Name</th>
    <th>File type</th>
    <th>Software&nbsp;&nbsp;</th>
    <th>Software version</th>
    <th class="nosort">Controls</th>
  </tr>
  </thead>
  <tbody>
<% assemblies.each do |assembly| %>
  <% if assembly.assay.nil? then %>
  <tr>
    <td></td>
    <td></td>
    <td><%= assembly.genome_reference.name %></td>
    <td><nobr><%= assembly.name %><nobr></td>
    <td><%= assembly.file_type %></td>
    <td><%= assembly.software %></td>
    <td><%= assembly.software_version %></td>
    <td><%= link_to 'Show', assembly %></td>

  <% else %>
  <tr>
    <td><nobr><%= image_tag('file_location.png', :size => "20x20", :onmouseover => "$('#assembly_loc_#{assembly.id}').poshytip('show')", :onmouseout => "$('#assembly_loc_#{assembly.id}').poshytip('hide')", :id => "assembly_loc_#{assembly.id}") %><%= assembly.assay.sample.nil? ? '' : assembly.assay.sample.vendor_id %></nobr></td>
    <td><%= assembly.assay.sample.nil? ? '' : assembly.assay.sample.person.nil? ? '' : assembly.assay.sample.person.pedigree.name %></td>
    <td><%= assembly.genome_reference.name %></td>
    <td><nobr><%= assembly.name %><nobr></td>
    <td><%= assembly.file_type %></td>
    <td><%= assembly.software %></td>
    <td><%= assembly.software_version %></td>
    <td><%= link_to 'Show', assembly %></td>
  </tr>
  <script>
  $("#assembly_loc_<%= assembly.id %>").poshytip({
      content: '<%= assembly.location if assembly.location %>', 
      className: 'tip-yellow',
      showOn: 'none',
      alignTo: 'target',
      alignX: 'inner-left'
  });
  </script>

  <% end %>
<% end %>
  </tbody>
</table>

<%= assemblies.size %> files

<% end %>


