<p id="notice"><%= notice %></td>

<table class="tablesorter">
  <tr>
    <td colspan="1"><b>Name:</b><%= @assembly.name %></td>
    <td colspan="1"><b>ID:</b>isb_asm_<%= @assembly.id %></td>
    <td colspan="1"><b>Genome reference:</b> <%= @assembly.genome_reference.name %> </td>
    <td colspan="1"> <b>Type:</b> <%= @assembly.file_type %> </td>
  </tr>
  <tr>
    <td colspan="1"> <b>Assay:</b> <%= link_to @assembly.assay.name , assay_path(@assembly.assay) %> </td>
    <td colspan="1"> <b>Sample:</b> <%= link_to @assembly.assay.sample.sample_vendor_id  , sample_path(@assembly.assay.sample) %> </td>
    <td colspan="1">
      <b>Person:</b>
      <% if @assembly.assay.sample.person.collaborator_id.nil? then %>
      <%= link_to @assembly.assay.sample.person.isb_person_id, @assembly.assay.sample.person  %>
      <%else%>
      <%= link_to @assembly.assay.sample.person.collaborator_id, @assembly.assay.sample.person  %>
      (<%= link_to @assembly.assay.sample.person.isb_person_id, @assembly.assay.sample.person  %>)
<%end%>


 </td>
    <td colspan="1"> <b>Pedigree:</b> <%= link_to @assembly.assay.sample.person.pedigree.name  , pedigree_path(@assembly.assay.sample.person.pedigree) %> </td>
  </tr>
  <tr>
    <td colspan="1"><b>Software:</b> <%= @assembly.software %> </td>
    <td colspan="1"><b>Software version:</b> <%= @assembly.software_version %> </td>
    <td colspan="1"><b>Date:</b> <%= @assembly.file_date %> </td>
    <td colspan="1"><b>Current:</b> <%= @assembly.current %> </td>
  </tr>
  <tr>
    <td colspan="4"> <b>Location:</b> <%= @assembly.location %> </td>
  </tr>
  <tr>
    <td colspan="4"> <b>Metadata:</b> <%= @assembly.metadata %> </td>
  </tr>
  <tr>
    <td colspan="4"> <b>Description:</b> <%= @assembly.description %> </td>
  </tr>
  <tr>
    <td colspan="4"> <b>Comments:</b> <%= @assembly.comments %> </td>
  </tr>
</table>
<br />
<%= link_to 'Edit', edit_assembly_path(@assembly) %> |
<%= link_to 'Back to all assemblies', assemblies_path %> <br/>
<%= link_to "Back to assay #{@assembly.assay.name}", assay_path(@assembly.assay) %><br/>
<%= link_to "Back to sample #{@assembly.assay.sample.sample_vendor_id} (#{@assembly.assay.sample.isb_sample_id})", sample_path(@assembly.assay.sample)  %> <br/>
<%= link_to "Back to person #{@assembly.assay.sample.person.collaborator_id} (#{@assembly.assay.sample.person.isb_person_id})", person_path(@assembly.assay.sample.person) unless @assembly.assay.sample.nil? or @assembly.assay.sample.person.nil? %><br/>
<%= link_to "Back to pedigree #{@assembly.assay.sample.person.pedigree.name}", pedigree_path(@assembly.assay.sample.person.pedigree) %><br/>


<%= link_to "Ensure Files are up to date", assembly_ensure_files_up_to_date_path(@assembly) %>
<br /><br />
<%= render 'assembly_files/list', :assembly_files => @assembly.assembly_files.sort! {|a,b| a.name.downcase <=> b.name.downcase}.paginate() %>

<% if @assembly.check_circos %>
<div style="position: relative;">
<div style="position: absolute; left: 0px; top: 0px; z-index: -1">
<%= image_tag(assembly_retrieve_circos_path(@assembly), height:"750", width:"750", alt:"") %>
</div>
<div style="position:absolute; left: 675px; top: 0px; z-index:1">
<%= image_tag(assembly_retrieve_circos_legend_path(@assembly),height:"650",width:"600",alt:"") %>
</div>
</div>
<% end %>
