        <nav class="menu">
          <ul>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Studies", studies_path %></li>
            <li><%= link_to "Pedigrees", pedigrees_path %></li>
            <li><%= link_to "People", people_path  %></li>
            <li><%= link_to "Samples", samples_path  %></li>
            <li><%= link_to "Assays", assays_path  %></li>
	    <li><%= link_to "Assemblies", assemblies_path %></li>
            <li><%= link_to "Files", assembly_files_path  %></li>
	    <br />
            <li><%= link_to("Receiving Log", receiving_report_people_path) %></li>
            <li><%= link_to("Sequencing Summary", summary_report_assays_path) %></li>
            <li><%= link_to("Founders", founders_pedigrees_path) %></li>
	    <br />
	    <li><%= link_to("Conditions", conditions_path) %></li>
	    <li><%= link_to("Phenotypes", phenotypes_path) %></li>
	    <br />
	    <li><%= link_to("Terminology", terminology_path) %></li>
	    <br />
        <li><%= link_to "Acquisitions", acquisitions_path  %></li>
        <li><%= link_to "Problem Samples", samples_path(:problems => 1) %></li>
        <br />
        <li><%= link_to "Ingenuity Check", ingenuity_upload_samples_path %></li>
        <br />
	    <li><%= link_to("New Study", new_study_path) %></li>
	    <li><%= link_to("New Pedigree", new_pedigree_path) %></li>
	    <li><%= link_to("New Person", new_person_path) %></li>
	    <li><%= link_to 'Upload People into a Pedigree', upload_people_path %></li>
	    <li><%= link_to("New Sample", new_sample_path) %></li>
	    <li><%= link_to("New Assay",new_assay_path) %></li>
	    <li><%= link_to("New Assembly", new_assembly_path) %></li>
	    <li><%= link_to("New File", new_assembly_file_path) %></li>
          </ul>
        </nav>
