<!DOCTYPE html>
<html>
  <head>
    <title>GMS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag :layout %>
    <%= stylesheet_link_tag 'tablesorter' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield(:head) %>
  </head>

  <body>
  <div>
    <header>
      <%= render 'layouts/header' %>
    </header>
    <div class="contents">
      <div class="menu">
        <%= render 'layouts/menu' %>
      </div>
      <div class="page">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <% if flash[:error] %><p id="error_explanation"><%= flash[:error] %></p><% end %>
        <section>
          <%= yield %>
        </section>
      </div>
    </div>
  </div>
  </body>
</html>
